﻿@page "/fix"

<style>
    /* set all top-level elements in the layout to height 100% so they match the viewport */
    html, body, #app, .page, .main {
        /* the two key rules to define dimensions and ensure scrollbars are not in a high level */
        height: 100%;
        overflow: hidden;
        /* these two rules are a common safeguard to better tighten dimensions, they may not be needed for your case */
        min-height: 100%;
        max-height: 100%;
    }
    /* define where scrollbars can appear in the layout - in a child element whose actual height
        still matches the viewport*/
    .content {
        /* allow scrolling of the actual app content */
        overflow: auto;
        /* height is not 100% in this layout beause it uses flex and has a header inside 
        so we use calc() to account for the header and we take its size from the app stylesheet */
        height: calc(100% - 3.5rem);
    }
</style>

<Issue />