﻿@page
@model Telerik.Examples.RazorPages.Pages.Dialog.DialogIndexModel
@{
    ViewData["Title"] = "DialogIndex";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@Html.AntiForgeryToken()

<h1>DialogIndex</h1>

@(Html.Kendo().Dialog()
        .Name("dialog")
        .Title("Data Update")
        .Content("<p>Would you like to confirm updating the data?<p>")
        .Width(400)
        .Modal(false)
        .Actions(actions =>
        {
            actions.Add().Text("Cancel");
            actions.Add().Text("Send data").Primary(true).Action("onSendData");
        })
        .Events(ev => ev.Close("onClose").Open("onOpen"))
)
@(Html.Kendo().Button()
        .Name("showDialogBtn")
        .HtmlAttributes(new { style = "display:none;", @class = "hide-on-narrow" })
        .Content("Open Dialog")
        .Events(ev => ev.Click("showDialog"))
)

<script>
    function onClose() {
        $("#showDialogBtn").fadeIn();
    }

    function onOpen() {
        $("#showDialogBtn").fadeOut();
    }

    function showDialog() {
        $('#dialog').data("kendoDialog").open();
    }

    function onSendData() {
        $.ajax({
            url: "/Dialog/DialogIndex",
            type: "POST",
            data: { custom : "some text" },
            headers: {
                RequestVerificationToken: kendo.antiForgeryTokens().__RequestVerificationToken
            },
            dataType: "json"
        });
    }
</script>

