﻿@page
@model Telerik.Examples.RazorPages.Pages.Filter.FilterBindingModel
@using Telerik.Examples.RazorPages.Models
@using Kendo.Mvc.UI

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@Html.AntiForgeryToken()

<script>
    function forgeryToken() {
        return kendo.antiForgeryTokens();
    }
</script>

@(Html.Kendo().DataSource<CustomerViewModel>()
        .Name("dataSource1")
         .Ajax(t =>
                 {
             t.Read(r=>r.Url("/Filter/FilterBinding?handler=Customers").Data("forgeryToken"));
             t.Model(model => model.Id(p => p.CustomerID));
             t.PageSize(20);
         })
    )

@(Html.Kendo().Filter<CustomerViewModel>()
      .Name("filter")
      .ApplyButton(true)
      .ExpressionPreview(true)
      .Fields(f =>
      {
          f.Add(p=>p.CustomerID);
          f.Add(p=>p.Position);
          f.Add(p=>p.CompanyName);
          f.Add(p=>p.Country);
      })
      .FilterExpression(f => {
          f.Add(p => p.Position).IsEqualTo("Sales Representative");
      })
      .DataSource("dataSource1")
    )

<br />
<br />
<br />

@(Html.Kendo().Grid<CustomerViewModel>()
        .Name("Grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.CustomerID);
            columns.Bound(p => p.Position);
            columns.Bound(p => p.CompanyName);
            columns.Bound(p => p.Country);
        })
        .Pageable()
        .DataSource("dataSource1")
    )
